/* styles.css */

body {
  font-family: serif;
  font-size: 16px;
  color: #535353;
  margin: 0;
  padding: 0;
  background-color: #dddfdd;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ffffff' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.container .article-date {
  text-align: center;
  font-family: monospace;
  font-size: 14px;
  margin-bottom: 50px;
}

.container .link-to-main-page {
  font-size: 16px;
  color: #535353;
  text-decorations: none;
  margin-top: 30px;
}

.container {
  width: 800px;
  margin: 50px auto;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 50px;
  /* Add padding to all sides of the container */
}

/* Remove center-align class, handle centering for specific elements individually */

.container img {
  max-width: 100%;
  margin: 50px 0 20px 0;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.container figcaption {
  text-align: center;
  padding-bottom: 50px;
}

h1 {
  font-size: 30px;
  /* Add margin above and below the heading */
  text-align: center;
  /* Center h1 headings */
}

h2,
h3,
h4,
h5,
h6 {
  font-size: 24px;
  margin: 50px 0 0 0;
  text-align: left;
  /* Left-align other headings */
  border-bottom: 2px solid #dfdfdf;
  padding-bottom: 20px;
}

li a {
  text-decoration: none;
  font-weight: bold;
  color: #0066ff;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #0066ff;
}

li a:hover {
  background-image: linear-gradient(#0066ff, #0046b0);
  -webkit-background-clip: text;
  color: transparent;
}

.intro-container {
  /*background-color: #fff6cc;*/
  background-color: #fffae3;
  color: #8f8a75;
  border: 2px solid #d6cfb0;
  padding: 20px 40px 20px 40px;
  border-radius: 5px;
  margin-bottom: 50px;
  text-align: center;
  font-style: italic;
}

/* ... (remaining CSS code) ... */