/* Colours */

:root {
  --main-background-color: #cccccc;
  --container-background-color: #cccccc;
  --foreground-color: #333333;
  --page-font: "EB Garamond";
  --page-font-size-regular: 18px;
  --page-font-size-small: 16px;
  --page-font-size-heading: 22px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-background-color: #212121;
    --container-background-color: #212121;
    --foreground-color: #dedede;
  }
}

/* Body */

body {
  background-color: var(--main-background-color);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Center Container */

.container {
  background-color: var(--container-background-color);
  width: 800px;
  display: flex;
  margin: 0 auto;
}

/* Navigation Bar */

.navigation-bar {
  background-color: var(--container-background-color);
  width: 150px;
  height: 100vh;
  border-right: 1px solid var(--foreground-color);
  font-family: var(--page-font);
  font-size: var(--page-font-size-regular);
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: padding ease-out 0.2s;
  position: fixed;
  top: 0;
  bottom: 0;
}

.navigation-bar:hover {
  border-left: 1px solid var(--foreground-color);
  border-right: 1px solid var(--foreground-color);
  padding-left: 1px;
  transition: padding ease-out 0.2s;
}

.navigation-bar p {
  color: var(--foreground-color);
  margin: 0px;
  margin-left: auto;
  transition: font-size ease-out 0.1s, font-weight ease-out 0.1s, margin ease-out 0.1s, padding ease-out 0.2s;
  padding-right: 20px;
}

.navigation-bar a {
  text-decoration: none;
  color: var(--foreground-color);
}

.navigation-bar p:hover {
  font-weight: bold;
  font-size: var(--page-font-size-heading);
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 30px;
  transition: font-size ease-out 0.1s, font-weight ease-out 0.1s, margin ease-out 0.1s, padding ease-out 0.2s;
}

/* Parent of .page-introduction and .article-list */

.content-container {
  width: 100%;
  padding: 10px 20px;
  width: calc(100% - 80px);
  box-sizing: border-box;
}

/* Page introduction/title */

.page-introduction {
  font-size: var(--page-font-size-regular);
  font-family: var(--page-font);
  font-style: italic;
  color: var(--foreground-color);
  border-bottom: 1px solid var(--foreground-color);
  height: 48px;
  margin-left: 150px;
  padding-bottom: 2px;
}

/* Parent of each article listing */

.article-list {
  font-size: var(--page-font-size-regular);
  font-family: var(--page-font);
  color: var(--foreground-color);
  padding-top: 10px;
  margin-left: 150px;
}

/* Article listings */

.article-listing {
  background-color: var(--container-background-color);
  transition: padding ease-out 0.2s, filter ease-out 0.1s, width ease-out 0.1s;
  padding: 20px;
  padding-left: 0px;
  border-radius: 2px;
  max-height: 200px;
}

.article-listing:hover {
  padding-left: 20px;
  max-height: 200px;
  border: 1px solid var(--foreground-color);
}

.article-listing h1 {
  font-family: var(--page-font);
  font-size: 22px;
  margin: 0px;
  padding: 0px;
}

.article-listing h6 {
  font-size: var(--page-font-size-small);
  font-weight: normal;
  font-style: italic;
  margin: 5px 0px;
  font-family: var(--page-font);
}

.article-listing p {
  font-size: var(--page-font-size-regular);
  margin: 5px 0px;
}

.article-listing a {
  text-decoration: none;
  color: var(--foreground-color);
}

/* Parent of each article listing */

.article-container {
  font-size: var(--page-font-size-regular);
  font-family: var(--page-font);
  color: var(--foreground-color);
  padding-top: 10px;
  margin-left: 150px;
}

.article-contents {
  font-family: var(--page-font);
  font-size: var(--page-font-size-regular);
}

.article-contents h1,
.article-contents h2,
.article-contents h3,
.article-contents h4,
.article-contents h5,
.article-contents h6 {
  font-family: var(--page-font);
  font-size: var(--page-font-size-heading)
}

.article-contents h1 {
  font-size: calc(var(--page-font-size-heading) + 5px)
}

.article-contents li {
  margin-bottom: 5px;
}

.article-contents a {
  text-decoration: underline;
  background-color: var(--container-background-color);
  color: var(--foreground-color);
  padding-left: 0px;
  border-radius: 2px;
  transition: filter ease-out 0.1s, padding ease-out 0.2s, border ease-out 0.2s;
}

.article-contents a:hover {
  padding: 2px 5px;
  text-decoration: none;
  border: 1px solid var(--foreground-color);
}

.article-date {
  font-family: var(--page-font);
  font-style: italic;
  font-size: var(--page-font-size-small);
}

.article-contents figure {
  margin: 0px;
  padding: 0px;
}

.article-contents img {
  max-height: 400px;
  transform: scale(0.99);
  transition: box-shadow ease-out 0.2s, transform ease-out 0.1s;
  border-radius: 2px;
}

.article-contents img:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.article-contents figcaption {
  font-style: italic;
  font-size: var(--page-font-size-small);
  padding-left: 10px;
  opacity: 80%;
}