/* Colours */

:root {
  --main-background-color: #cccccc;
  --container-background-color: #cccccc;
  --foreground-color: #333333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-background-color: #212121;
    --container-background-color: #212121;
    --foreground-color: #dedede;
  }
}

/* Body */

body {
  background-color: var(--main-background-color);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Center Container */

.container {
  background-color: var(--container-background-color);
  width: 800px;
  display: flex;
  margin: 0 auto;
}

/* Navigation Bar */

.navigation-bar {
  background-color: var(--container-background-color);
  width: 150px;
  height: 100vh;
  border-right: 1px solid var(--foreground-color);
  font-family: sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: filter ease-out 0.2s;
  position: fixed;
  top: 0;
  bottom: 0;
}

.navigation-bar:hover {
  filter: invert(100%);
  border-right: 1px solid var(--container-background-color);
  transition: filter ease-out 0.2s;

}

.navigation-bar p {
  color: var(--foreground-color);
  margin: 0px;
  margin-left: auto;
  transition: font-size ease-out 0.1s, font-weight ease-out 0.1s, margin ease-out 0.1s, padding ease-out 0.2s;
  padding-right: 20px;
}

.navigation-bar p:hover {
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 30px;
  transition: font-size ease-out 0.1s, font-weight ease-out 0.1s, margin ease-out 0.1s, padding ease-out 0.2s;
}

/* Parent of .page-introduction and .article-list */

.content-container {
  width: 100%;
  padding: 10px 20px;
  width: calc(100% - 80px);
  box-sizing: border-box;
}

/* Page introduction/title */

.return {
  font-size: 16px;
  font-family: sans-serif;
  font-style: italic;
  color: var(--foreground-color);
  background-color: var(--container-background-color);
  border-bottom: 1px solid var(--foreground-color);
  height: 48px;
  margin-left: 150px;
  padding: 5px 0px 15px 0px;
  border-radius: 2px;
  transition: filter ease-out 0.1s, padding ease-out 0.2s;
}

.return:hover {
  filter: invert(100%);
  padding-left: 20px;
}

/* Parent of each article listing */

.article-container {
  font-size: 16px;
  font-family: sans-serif;
  color: var(--foreground-color);
  padding-top: 10px;
  margin-left: 150px;
}

.article-contents {
  font-family: sans-serif;
  font-size: 16px;
}

.article-contents h1,
.article-contents h2,
.article-contents h3,
.article-contents h4,
.article-contents h5,
.article-contents h6 {
  font-family: serif;
}

.article-contents a {
  text-decoration: none;
  background-color: var(--container-background-color);
  color: var(--foreground-color);
  padding-left: 0px;
  border-radius: 2px;
  transition: filter ease-out 0.1s, padding ease-out 0.2s;
}

.article-contents a:hover {
  filter: invert(100%);
  padding: 2px 5px;
}

.article-date {
  font-family: monospace;
  font-size: 12px;
}


a {
  text-decoration: none;
}