/* VARIABLES/FONTS/ANIMATIONS */

:root {
    --easing: cubic-bezier(0.16, 1, 0.3, 1);
    --default-bg: white;
    --fg: black;
    --accent: blue;
    --accent2: yellow;
}

:root {
    font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
}

@-webkit-keyframes sweep {
    0%    {opacity: 0; -webkit-transform: translateX(-40px); -moz-transform: translateX(-40px); transform: translateX(-40px); }
    100%  {opacity: 1;}
}

@-moz-keyframes sweep {
    0%    {opacity: 0; -webkit-transform: translateX(-40px); -moz-transform: translateX(-40px); transform: translateX(-40px); }
    100%  {opacity: 1;}
}

@keyframes sweep {
    0%    {opacity: 0; -webkit-transform: translateX(-40px); -moz-transform: translateX(-40px); transform: translateX(-40px); }
    100%  {opacity: 1;}
}

@-webkit-keyframes img-show {
    0% {opacity: 0}
    20% {opacity: 0; -webkit-transform: scale(1.05); -moz-transform: scale(1.05); transform: scale(1.05);}
    100% {opacity: 1; -webkit-transform: scale(1.0); -moz-transform: scale(1.0); transform: scale(1.0);}
}

@-moz-keyframes img-show {
    0% {opacity: 0}
    20% {opacity: 0; -webkit-transform: scale(1.05); -moz-transform: scale(1.05); transform: scale(1.05);}
    100% {opacity: 1; -webkit-transform: scale(1.0); -moz-transform: scale(1.0); transform: scale(1.0);}
}

@keyframes img-show {
    0% {opacity: 0}
    20% {opacity: 0; -webkit-transform: scale(1.05); -moz-transform: scale(1.05); transform: scale(1.05);}
    100% {opacity: 1; -webkit-transform: scale(1.0); -moz-transform: scale(1.0); transform: scale(1.0);}
}

@-webkit-keyframes para-show {
    0% {opacity: 0}
    20% {opacity: 0; -webkit-transform: translateX(-40px); -moz-transform: translateX(-40px); transform: translateX(-40px); }
    70% {opacity: 1;}
    100% {opacity: 1;}
}

@-moz-keyframes para-show {
    0% {opacity: 0}
    20% {opacity: 0; -webkit-transform: translateX(-40px); -moz-transform: translateX(-40px); transform: translateX(-40px); }
    70% {opacity: 1;}
    100% {opacity: 1;}
}

@keyframes para-show {
    0% {opacity: 0}
    20% {opacity: 0; -webkit-transform: translateX(-40px); -moz-transform: translateX(-40px); transform: translateX(-40px); }
    70% {opacity: 1;}
    100% {opacity: 1;}
}

@-webkit-keyframes click {
    0% { -webkit-transform: scale(1.0); -moz-transform: scale(1.0); transform: scale(1.0);}
    50% { -webkit-transform: scale(0.9); -moz-transform: scale(0.9); transform: scale(0.9);}
    100% { -webkit-transform: scale(1.0); -moz-transform: scale(1.0); transform: scale(1.0);}
}

@-moz-keyframes click {
    0% { -webkit-transform: scale(1.0); -moz-transform: scale(1.0); transform: scale(1.0);}
    50% { -webkit-transform: scale(0.9); -moz-transform: scale(0.9); transform: scale(0.9);}
    100% { -webkit-transform: scale(1.0); -moz-transform: scale(1.0); transform: scale(1.0);}
}

@keyframes click {
    0% { -webkit-transform: scale(1.0); -moz-transform: scale(1.0); transform: scale(1.0);}
    50% { -webkit-transform: scale(0.9); -moz-transform: scale(0.9); transform: scale(0.9);}
    100% { -webkit-transform: scale(1.0); -moz-transform: scale(1.0); transform: scale(1.0);}
}





/* STANDARD */

a {
    color: var(--fg);
    text-decoration: underline;
    font-size: inherit !important;
}

body {
    height: fit-content;
    padding: 20px;
    margin: 0;

}

* {
    font-size: 16px;
    text-align: left;
}

details {
    position: sticky;
    z-index: 10;
    margin-bottom: -1px;
    padding: 0;
}

details > summary {
    list-style: none;
}

summary::-webkit-details-marker {
    display: none;
}

details[open] #section-heading::before {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

details[open] + div.container {
    max-height: 1000vh;
    -webkit-transition: max-height 0.5s cubic-bezier(0.7, 0, 0.84, 0);
    -moz-transition: max-height 0.5s cubic-bezier(0.7, 0, 0.84, 0);
    transition: max-height 0.5s cubic-bezier(0.7, 0, 0.84, 0);
}

h1 {
    font-size: 36px;
    text-align: right;
    margin: 0;
    padding-top: 80px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-top: 1px solid;
    font-weight: normal;
    text-shadow: 0px 1px 0px white;
}

#information {
    border-top: 0;
    padding-top: 0;
    margin-top: 110px;
}

h2 {
    font-weight: bold; 
    text-transform: uppercase;
    font-size: 24px;
}

h3 { 
    font-weight: normal; 
    font-size: 24px;
}

html {
    width: 100%;
    height: 100%;
    background-color: #e5e6e8;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ffffff' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    color: var(--fg);
    -webkit-transition: background-color 0.8s var(--easing);
    -moz-transition: background-color 0.8s var(--easing);
    transition: background-color 0.8s var(--easing);
}

p {
    margin: 20px 0;
}

summary {
    border: 1px solid;
    border-left: 3px solid;
    background-image: linear-gradient(to bottom, var(--default-bg), #d9d9d9);
    display: block;
    padding: 10px;
}

summary:hover {
    cursor: pointer;
}

figure {
    max-width: 40%;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid;
    width: fit-content;
}

figcaption {
    text-align: right;
    font-style: italic;
    padding: 10px 20px;
    text-shadow: 0px 1px 0px white;
    box-shadow: 0px -1px 0px #d9d9d9;
    background-image: linear-gradient(to bottom, var(--default-bg), #d9d9d9);
}

img {
    width: 100%;
    display: block;
}



/* CLASSES */

.page-content {
    max-width: 800px;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    box-sizing: border-box;
    max-height: 0;
    border-left: 1px solid;
    border-right: 1px solid;
    overflow: hidden;
    background-color: white;
    -webkit-transition: max-height 0.5s var(--easing);
    -moz-transition: max-height 0.5s var(--easing);
    transition: max-height 0.5s var(--easing);
}

.container-content {
    padding: 0px 20px;
    max-width: 1440px;
}

.resume-ul * {
    margin: 0;
}

.resume-ul p {
    font-weight: bold;
}

.resume-ul .resume-extra-info {
    font-weight: normal;
    opacity: 0.7;
}

ul * {
    margin: 0;
}

ul h3 {
    margin: 10px 0;
}

ul p {
    font-weight: normal;
    margin-bottom: 20px;
}





/* IDs */

#arrow {
    display: inline-block !important;
    -webkit-transition: transform 0.4s var(--easing);
    -moz-transition: transform 0.4s var(--easing);
    transition: transform 0.4s var(--easing);
    font-size: 24px;
    margin-right: 5px;
}

#copyright {
    position: sticky;
    bottom: 0;
    z-index: 20;
    width: fit-content;
    height: fit-content;
    padding: 5px 20px;
    margin-top: 20px;
    border-left: 3px solid;
    border-right: 1px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;
    background-image: linear-gradient(to bottom, #eaeaea, #979797);
    text-shadow: 0px 1px 0px white;
    box-shadow: 0px -1px 0px #d9d9d9;
}

#copyright p {
    margin: 0;
    display: block;
    text-align: center !important;
    font-weight: bold !important;
}

#section-heading {
    -webkit-transition: transform 0.2s var(--easing);
    -moz-transition: transform 0.2s var(--easing);
    transition: transform 0.2s var(--easing);
    display: block;
    text-decoration: underline;
    font-size: 20px;
    text-shadow: 0px 1px 0px white;
}

#section-heading::before {
    -webkit-transition: transform 0.2s var(--easing);
    -moz-transition: transform 0.2s var(--easing);
    transition: transform 0.2s var(--easing);
    content: "\27A4";
    margin-right: 10px;
    display: inline-block;
}

#page-header {
    display: block;
    position: sticky;
    top: 0px;
    z-index: 20;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 0px;
    width: fit-content;
    line-height: 1;
    border-top: 1px solid;
    border-right: 1px solid;
    border-left: 3px solid;
    border-bottom: 1px solid;
    background-image: linear-gradient(to bottom, #eaeaea, #979797);
    text-shadow: 0px 1px 0px white;
    box-shadow: 0px 1px 0px #d9d9d9;
    font-weight: bold;
    text-align: left;
    font-size: 24px;
}

#page-header #the-website-of {
    font-weight: normal;
    font-style: italic;
    padding-top: 5px;
}

#height {
    height: 100%;
}

#emphasised-h2 {
    font-weight: normal;
    text-transform: none;
}



/* OTHER */

::selection, ::-moz-selection {
    color-scheme: light dark;
    background: light-dark(var(--accent2), var(--accent2));
}





/* INTERACTION */

a:hover {
    color: var(--accent);
}

summary:hover #section-heading {
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    transform: scale(0.95);
    color: var(--accent);

}

summary:hover #section-heading::before {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
}

summary:active #section-heading {
    -webkit-transform: scale(0.90);
    -moz-transform: scale(0.90);
    transform: scale(0.90);
}


/* MEDIA QUERIES */

@media screen and (max-width: 500px) {
    #grid {
        display: block;
    }

    figure {
        max-width: 100%;
    }
}

/* 
@media (prefers-color-scheme: dark) {
    :root {
        --default-bg: black;
        --fg: #ededed;
        --accent: orangered;
        --accent2: slateblue;
    }

    figure {
        background: var(--fg);
    }
} */

#other-content {
    border-bottom: 1px solid;
}

#introduction-text {
    margin-top: -20px;
}
