/* COLOURS */
:root {
  --background-color: #efefef;
  --foreground-color: #111111;
  --accent: #111111;
  /* --link: #000000; */
}

/* @media (prefers-color-scheme: dark) { */
/* :root { */
/* --background-color: #111111; */
/* --foreground-color: #cfcfcf; */
/* --accent: #cfcfcf; */
/* --link: #ffffff; */
/* } */
/* } */

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
  max-width: 600px;
  padding: 0px 10px;
  font-family: serif;
  margin: 0 auto;
}

#container {
  background-color: var(--background-color);
  margin-top: auto;
  padding: 10px;
  padding-top: 1px;
}

figure {
  margin: 20px 0px;
  width: fit-content;
}

figcaption {
  font-style: italic;
  text-align: left;
  color: var(--accent);
  padding-top: 10px;
  opacity: 0.75;
}

p {
  padding: 0 0px;
}

img {
  width: 100%;
  border: 1px solid;
}

code {
  font-family: monospace;
}

table {
  border-collapse: collapse;
  margin: 0 20px;
}

th,
td {
  border: 1px solid;
  padding: 5px;
  text-align: left;
}

.shout {
  border-left: 1px solid;
  background: #ffffff;
  padding: 10px;
  font-style: italic;
}

.closing {
  font-style: italic;
  color: var(--accent);
  opacity: 0.5;
  border-top: 1px solid;
  padding-top: 10px;
}

h1 {
  margin: 0;
  padding: 40px 0px 40px 0px;
  text-align: center;
  border-top: 1px solid;
  border-bottom: 1px solid;
  font-variant: all-small-caps;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
}

h4,
h5,
h6 {
  font-style: italic;
}

ul {
  padding: 0 40px;
}

#header p {
  color: var(--link);
  text-align: center;
  height: 100%;
  font-variant: all-small-caps;
}

#header a {
  padding: 0px 10px;
}

.small-gif {
  border: none;
}

small {
  padding: 0 20px;
  font-style: italic;
}