:root {
  --background-color: #fff6e8;
  --foreground-color: #262524;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #262524;
    --foreground-color: #fff6e8;
  }
}

@media (max-width: 500px) {
  .nav-bar {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: left;
    align-content: left;
    align-self: stretch;
    flex-wrap: wrap;
    border-bottom: 1px solid;
  }

  .nav-bar-item {
    display: flex;
    padding: 0px 4px;
    justify-content: center;
    align-items: center;
  }

  .nav-bar-item:hover {
    font-weight: 700;
    margin: 0px !important;
  }


  .page-title {
    display: flex;
    padding: 12px 20px;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-bottom: 1px solid;
  }

}

@media (max-width: 1079px) {
  .parent-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
  }

  .nav-bar {
    display: flex;
    padding: 20px;
    align-items: left;
    align-content: left;
    align-self: stretch;
    flex-wrap: wrap;
    border-bottom: 1px solid;
  }

  .nav-bar-item {
    display: flex;
    padding: 0px 4px;
    justify-content: center;
    align-items: center;
  }

  .nav-bar-item:hover {
    font-weight: 700;
    margin-right: 10px;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
  }

  .page-title {
    display: flex;
    padding: 12px 20px;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    gap: 10px;
    align-self: stretch;
    border-bottom: 1px solid;
  }

  .page-title * {
    text-align: center;
  }

  .page-contents {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: left;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    margin: 0 auto;
  }
}

@media (min-width: 1080px) {
  .parent-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .nav-bar {
    position: fixed;
    display: flex;
    width: 120px;
    padding: 0px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex-shrink: 0;
    align-self: stretch;
    height: 100vh;
    margin-right: 962px;
    border-right: 1px solid;
  }

  .nav-bar-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    align-self: stretch;
  }

  .nav-bar-item:hover {
    padding-right: 10px;
    padding-left: 20px;
    font-weight: 700;
    border-left: 1px solid;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    max-width: 800px;
  }

  .page-title {
    display: flex;
    padding: 12px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-bottom: 1px solid;
  }

  .page-title * {
    align-self: stretch;
  }

  .page-contents {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
  }

  .page-contents * {
    align-self: stretch;
  }
}

@media (min-width: 1142px) {
  .nav-bar {
    position: fixed;
    display: flex;
    width: 150px;
    padding: 0px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex-shrink: 0;
    align-self: stretch;
    height: 100vh;
    margin-right: 992px;
    border-right: 1px solid;
  }
}

h1 {
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h2 {
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  padding: 0px;
  margin: 0px;
}

h3 {
  font-size: 22px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  padding: 0px;
  margin: 0px;
}

p {
  padding: 5px 0px;
  margin: 0px;
}

img {
  width: 100%;
}

figcaption {
  text-align: center;
  font-style: italic;
  margin-top: 10px;
}

figure {
  margin: 0px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid;
}

li {
  list-style-type: circle;
}

li a {
  padding-bottom: 5px;
  padding-left: 5px;
  transition: padding 0.2s ease-out;
}

li a:hover {
  padding-left: 10px;
  font-weight: 700;
  border-left: 1px solid;
}

body {
  margin: 0px;
  padding: 0px;
}

.inline {
  transition: padding 0.2s ease-out;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.inline:hover {
  padding: 0 5px;
  border: 1px solid;
  text-decoration: none;
}

.article-date {
  margin: 0px;
  padding: 10px 0;
  font-style: italic;
  font-size: 16px;
}

.nav-bar-item {
  transition: padding 0.2s ease-out, margin 0.2s ease-out;
}

* {
  font-display: swap;
  font-family: "EB Garamond", serif;
  font-size: 20px;
  background: var(--background-color);
  color: var(--foreground-color);
}

.nav-bar-item a {
  width: 100%;
  text-align: right;
  text-decoration: none;
}

.article-listing {
  padding: 10px 0px;
  transition: padding 0.2s ease-out;
}

.article-listing:hover {
  border-left: 1px solid;
  padding-left: 20px;
}

.article-listing a {
  text-decoration: none;
}

.article-listing h2 {
  text-decoration: underline;
}

.small-gif {
  width: min-content;
}

/*#f54245*/