body {
  font-family: 'DM Sans', Arial, sans-serif;
  color: #535353;
  margin: 0;
  padding: 0;
  background-color: #efefef;
}

.container {
  width: 600px;
  height: 100vh;
  margin: 20px auto 0;
  padding: 20px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 70px;
  flex-direction: row-reverse;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'DM Serif Text', serif;
}

h1 {
  font-size: 30px;
  margin: 0;
}

button {
  height: 30px;
  width: 100px;
  background-image: linear-gradient(#3b89ff, #2f6bd4);
  color: #efefef;
  border: none;
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
}

button:hover {
  background-image: linear-gradient(#0066ff, #0046b0);
  color: #efefef;
}

button:hover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.1;
  border-radius: 3px;
}

.article-date {
  color: #737373;
}

h3:hover {
  background-image: linear-gradient(#0066ff, #0046b0);
  -webkit-background-clip: text;
  color: transparent;
}

.divider {
  margin: 10px 0;
  height: 1px;
  background-color: #dfdfdf;
  border: none;
}