<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>INSERT ARTICLE TITLE HERE</title>
  <link rel="stylesheet" href="../../css/article.css">
</head>

<body>
  <div class="container">
    <h1 class="link-to-main-page-heading">
      <a class="link-to-main-page" href="../../index.html">shayanaqvi.github.io</a>
    </h1>
    <h1 id="no-fuss-terminal-workspace">INSERT ARTICLE TITLE HERE</h1>
    <p class="article-date">INSERT DATE HERE</p>
    <div class="intro-container">
      <p>INSERT ARTICLE INTRODUCTION HERE</p>
    </div>
    <h2 id="toc">Contents</h2>
    <ul>
      <li>INSERT LINKS TO ALL HEADINGS HERE (if applicable)</li>
    </ul>
    <h2 id="text-editing">INSERT HEADING HERE</h2>
    <p>INSERT BODY TEXT HERE</p>
    <figure>
      <img src="INSERT FILE NAME OF IMAGE HERE" alt="INSERT ALT-TEXT HERE" />
      <figcaption aria-hidden="true">INSERT IMAGE CAPTION HERE</figcaption>
    </figure>

    <p>If you have any thoughts, feel free to leave a comment. Have a nice day!</p>
    <h2 id="links">Links</h2>
    <ul>
      <li>INSERT ANY LINKS/REFERENCED ITEMS HERE</li>
    </ul>
    <h2 id="comments">Comments</h2>
    <div>
      <script src="https://utteranc.es/client.js" repo="shayanaqvi/shayanaqvi.github.io" issue-term="title"
        theme="preferred-color-scheme" crossorigin="anonymous" async>
        </script>
    </div>
  </div>
</body>